<header class="flex px-6 py-3 bg-gray-800">
  <nav class="container flex items-center justify-around">
    <div>
      <a href="/">Node App</a>
    </div>
    <ul class="flex space-x-4">
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </nav>
</header>
