<div class="bg-gray-700 my-4 p-4 rounded">
  <h2 class="text-xl font-semibold">{{post.title}}</h2>
  <p class="py-3">{{post.content}}</p>
  <p class="flex w-full flex-row-reverse text-gray-400">Created by {{post.author.name}}</p>
</div>